

//LİGHT TEMA RENK
$color-light-primary: #337ab7;
$color-light-secondary: #5cb85c;
$color-light-background: #ffffff;
$color-light-surface: #f7f7f7;
$color-light-text: #333333;
$color-light-text-secondary: #666666;
$color-light-border: #dddddd;
$color-light-focus: #1e619d;
$color-light-error: #d9534f;

//DARK TEMA RENK
$color-dark-primary: #5bc0de;
$color-dark-secondary: #333333;
$color-dark-background: #1e1e1e;
$color-dark-surface: #252526;
$color-dark-text: #cccccc;
$color-dark-text-secondary: #999999;
$color-dark-border: #444444;
$color-dark-focus: #4aa4c5;
$color-dark-error: #e74c3c;